@import "sass/materialize";
.tertiary-color {
  background-color: #f8f5f2;
}
.primary-color-text {
  color: $primary-color;
}
.primary-color {
  background-color: $primary-color;
}
.secondary-color {
  background-color: $secondary-color;
}

#simulation-map {
  background-color: #f8f5f2;
  height: 100vh;
  width: 100vw;
}

#slide-out {
  color: $secondary-color;
}

.side-nav .btn {
  width: 100%;
  margin-bottom: 20px;
}

.side-nav .tabs {
  margin-top: 30px;
}
