@import "sass/materialize";
.tertiary-color {
  background-color: #f8f5f2;
}
.primary-color-text {
  color: $primary-color;
}
.primary-color {
  background-color: $primary-color;
}
.secondary-color {
  background-color: $secondary-color;
}

#simulation-map {
  background-color: #f8f5f2;
  height: 85vh;
  width: 100vw;
  z-index: 1000;
}

#slide-out {
  color: $secondary-color;
}

.brand-logo {
  margin-left: 20px;
}

.side-nav {
  margin-top: 7.5vh;
  margin-bottom: 7.5vh;
  z-index: 1001;
  padding: 10px !important;
  color: white;
}

nav input {
  margin: 0 !important;
  width: 95% !important;
  height: 2rem !important;
}

nav ul button.btn {
    margin-top: -2px;
    margin-left: 15px;
    margin-right: 15px;
}

.side-nav .btn {
  width: 100%;
  margin-bottom: 20px;
}

.side-nav .tabs {
  margin-top: 30px;
}

#landmark-search {
  margin-bottom: 0px;
}

#search-results {
  position:fixed;
  z-index: 10;
}

#scrub-timer {
  line-height: normal;

  .scrub-time-div, .range-field {
  }
}

.bottom-nav {
  position: fixed;
  bottom: 0;
  z-index: 1002;

  .dropdown-cities-div {
    display: inline-block;
  }
}