#journey-settings {
	text-align: center;
}

#journey-list {
  border-radius: 5px;
  border: 1px solid #dfe5e7;
  background: #dfe5e7;
  padding: 20px;
}

#landmark-search {
  margin-top: 20px;
  width: 280px;
  margin-left: auto;
  margin-right: auto;
}

#journeys-import {
  padding-bottom: 20px;
}

.navbar-nav .nav-item {
    padding-left: 1em;
}

#auth-dropdown button {
  margin: 0.5em;
}
#simulation-buttons {
  text-align: center;
  margin-top: 1em;
}
